:root {
    --branding-color: rgb(59, 156, 168);
    --secondary-color: rgba(128, 180, 186, 0.4);
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 24px;
        font-family: var(--default-font-family);
    }


h3{
    font-size: 26px;
        font-family: 'Poppins', sans-serif;
        color: #272142;
}

h4{
        font-size: 20px;
            font-family: 'Poppins', sans-serif;
            opacity: 0.7;
        
}
p {
    font-weight: normal;
    font-size: 15px;
    list-style: 1.5;
}
img{
    border: 1px solid black;
}
span{
    color: var(--branding-color);
}
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}
.content-container{
    padding: 50px 20px;
}

.content h1{
    font-size: 64px;
    line-height:80px;
}
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family) ;
}
.content h3{
    font-size: 24px;
    font-family: var(--default-font-family);
}
.content p{
    font-size: 15px;
}
.content{
    margin: 30px;
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.logo{
    max-width: 150px;
}

nav{
    padding: 20px 0;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height:42px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    color:#272142 ;
    transition: all 150ms ease-in-out;

}

nav a:hover, nav li.active a {
    color: var(--branding-color);

}

footer{
    
    padding: 5px;
    background: var(--secondary-color);
}


footer .social-links a{
 margin: 0 20px;
color: white;
background: var(--branding-color);
 
 padding: 10px 14px;
 font-size: 18px;
 border: 1px solid white;
 border-radius: 50%;

}
 
footer .social-links a:hover{
 color: var(--branding-color);
 background: var(--secondary-color);
}


.logo-init{
    font-size: 25px;
}

@media(max-width:800px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 44px;
    }
    h3{
        font-size: 26px;
    }

    .project-description {
        text-align: center;
    }

    .content{
        text-align: center;
        padding: 0;

    }
    nav a{
        font-size: 12px;
    }

      
}